.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: aliceblue;
    text-align: left !important;
}

.message__userCard{
    background-color: rgb(29, 115, 212) !important;
}

.message__guestCard{ 
    background-color: #e9e9eb !important;
}